*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.logo{
    background-image: url(images/amazon_logo.png) ;
    background-size: cover;
    height: 55px;
    width: 100px;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

.address{
    margin-left: 5px;
}
.deliver-to{
    font-size: 0.7rem;
    margin-left: 16px;
}

/* box3 */
.search-container{
    display: flex;
    width: 550px;
    height: 25px;
    /* margin-left: 10px; */
}
.search-select{
    border : none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.input-select{
    width: 100%;
    border: none;
}
.serch-icon{
    background-color: #febd68;
    /* display: flex; */
    text-align: center;
    padding-top: 4px;
    width: 25px;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
} 

/* box 4 and 5 */
span{
    font-size: 0.7rem;
}
.nav-p2{
    font-size: 0.8rem;
    font-weight: 550;
}

/*box 6 */
.cart i {
    font-size: 1.5rem;
}

/* panel */
.panel{
    height: 49px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel-optn p{
    display: inline;
    margin-left: 15px;
}
.panel-optn{
    width: 78%;
    font-size: 0.8rem;
}
.panel-deals{
    font-size: 0.8rem;
    font-weight: 600;
}

/* hero section */
.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: rgb(255, 255, 255);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 0.85rem;
    margin-bottom: 20px;

}  
.hero-msg a{
    text-decoration: none;
    color: #007185;
}


/* contant box */
.shop-section{
    display: flex;
    flex-wrap: wrap;    /* 4 div rekhny k liya 1 rom ma */
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    /* border: 2px solid black;   -> It is use for setting like padding, margen etc */
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 10px 0px 15px ;
    margin-top: 0.8rem;
    
}
.box1-img{
    background-image: url("images/box8_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
.box-contant{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.box2-img{
    background-image: url("images/box2_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box3-img{
    background-image: url("images/box3_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box4-img{
    background-image: url("images/box4_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box5-img{
    background-image: url("images/box5_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box6-img{
    background-image: url("images/box6_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box7-img{
    background-image: url("images/box7_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.box8-img{
    background-image: url("images/box1_image.jpg");
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.foot-panel1{
    margin-top: 5px;
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.foot-panel2 ul {
    list-style: none;
    padding-top: 30px;
    width: 20%;
}

.foot-panel2 p {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1rem;
}

.foot-panel2 a {
    color: #dddddd;
    text-decoration: none;
    display: block;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.foot-panel2 a:hover {
    text-decoration: underline;
}

.foot-panel3 {
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.5px solid #dddddd;
    height: 70px;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;           /* Add some padding from the left */
}
.page a {
    color: #f7f5f5;
    font-size: 0.85rem;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 20px;           /* Add space between links */
}
.page a:hover {
    text-decoration: underline;
}

.copyright{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin-top: 3px;

}